<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660382727156-pn9sbenpp9bvlvhi5rpaqeptnobg196t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660382727156-pn9sbenpp9bvlvhi5rpaqeptnobg196t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>660382727156-pq035bardi9mnt2h54ign7sbql904vdj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAI4HNz-Dq8CIDlw2xhtFmwVDwfALcuHCo</string>
	<key>GCM_SENDER_ID</key>
	<string>660382727156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.napurisapuska.fi</string>
	<key>PROJECT_ID</key>
	<string>napurisapuska</string>
	<key>STORAGE_BUCKET</key>
	<string>napurisapuska.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660382727156:ios:698a8f8df80ac8e52357a1</string>
</dict>
</plist>